
.containers{
  
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    background: rgba(255, 255, 255, 0.2);

  }
  
  .item {
    /* background: black;
    brder-radius: 100%; */
  }
  